@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;

600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #231900;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.3125rem;
}

.header__logo {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn {
  background: #FC0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.875rem 2.875rem;
  color: var(--white-secondery-color, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-open .logo {
  z-index: 1;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.columone__logo {
  color: var(--yeallow-brand-color, #FC0);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.columone__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.columntwo__titl {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.columntwo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.columntwo__link {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.columnthre__titl {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.columnthre__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.columnthre__link {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.columnfour__titl {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.columnfour__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.columnfour__link {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.columnfour__link :not(:last-child) {
  margin-bottom: 0.8125rem;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot__text1 {
  color: var(--black-font-color, #231900);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foot__text2 {
  color: var(--black-font-color, #231900);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.actev {
  color: #FC0;
}

.no-webp .page__order{
  background: url("../img/mask/mask.jpg") 100% 100%/100% no-repeat; }

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.order__subtitl {
  color: #FFF;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order__titl {
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 50.375rem;
}

.order__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  max-width: 35rem;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__img img {
  border-radius: 50%;
}

.body__text {
  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
}

.categories__subtitl {
  color: var(--yeallow-brand-color, #FC0);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.categories__titl {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body__categories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.body__categories-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.item__body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__body-titl {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item__body-text {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.page__delivery {
  max-width: 1440;
  background-color: rgb(255, 204, 0);
}

.delivery-page__container {
  padding-top: 2.8125rem;
  padding-bottom: 3.75rem;
}

.body-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.body-delivery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-delivery__icon {
  height: 115px;
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.body-delivery__icon:not(:last-child) {
  margin-bottom: 2.625rem;
}

.body-delivery__titl {
  color: var(--white-secondery-color, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.body-delivery__titl p {
  padding-bottom: 0.3125rem;
}

.body-delivery__titl:not(:last-child) {
  margin-bottom: 1.375rem;
}

.body-delivery__text {
  color: var(--white-secondery-color, #FFF);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.outlet__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 2.8125rem;
  padding-top: 4.6875rem;
}

.outlet__subtitl {
  color: var(--yeallow-brand-color, #FC0);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.outlet__titl {
  color: var(--black-font-color, #231900);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.outlet__titl:not(last-child) {
  margin-bottom: 1.5625rem;
}

.body-outlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 30px;
}

.body-outlet__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.body-outlet__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-outlet__img:not(last-child) {
  margin-bottom: 1.25rem;
}

.body-outlet__icon:not(last-child) {
  margin-bottom: 0.625rem;
}

.body-outlet__adress {
  color: var(--black-font-color, #231900);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.getstarted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.getstarted__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.getstarted__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.getstarted__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.body-getstarted__subtitl {
  color: var(--yeallow-brand-color, #FC0);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body-getstarted__titl {
  color: var(--black-font-color, #231900);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 1rem;
}

.body-getstarted__titl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #FC0;
  width: 30%;
}

.body-getstarted__titl:not(last-child) {
  margin-bottom: 2rem;
}

.info-body__titl {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-body__text {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items-getstarted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.items-getstarted__titl {
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.items-getstarted__titl:not(last-child) {
  margin-bottom: 0.625rem;
}

.items-getstarted__text {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bestteam__container {
  padding-top: 2.8125rem;
  padding-bottom: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestteam__subtitl {
  color: var(--yeallow-brand-color, #FC0);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bestteam__titl {
  color: #000;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 1.5625rem;
}

.bestteam__titl::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom: 5px solid #FC0;
  width: 38%;
}

.body-bestteam__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.body-bestteam__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.body-bestteam__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-bestteam__name {
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body-bestteam__profesion {
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page__discount {
  border: 1px solid #000;
  background: linear-gradient(94deg, #FC0 7.54%, rgba(255, 204, 0, 0) 100%);
}

.discount__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.discount__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.discount__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53%;
          flex: 1 1 53%;
}

.discount__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-discount__titl {
  color: var(--white-secondery-color, #FFF);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.body-discount__text {
  color: var(--white-secondery-color, #FFF);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dovload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.dovload img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
}

.info__container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.info__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 47.99875em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 76.875em) {
  .logo {
    margin-right: 2.75rem;
  }

  .menu__item {
    margin-right: 2.75rem;
  }

  .button__heder {
    margin-left: 3.375rem;
  }

  .footer__container {
    margin-top: 5.625rem;
  }

  .footer__container {
    margin-bottom: 2.6875rem;
  }

  .footer__column {
    margin-bottom: 12.5rem;
  }

  .columone__logo {
    font-size: 1.5rem;
  }

  .columone__logo:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .columone__text:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .columntwo__titl {
    font-size: 1.5rem;
  }

  .columntwo__titl:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .columnthre__titl {
    font-size: 1.5rem;
  }

  .columnthre__titl:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .columnfour__titl {
    font-size: 1.5rem;
  }

  .columnfour__titl:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .columnfour__link {
    font-size: 1.0625rem;
  }

  .order__container {
    padding-top: 9.375rem;
  }

  .order__container {
    padding-bottom: 12.1875rem;
  }

  .order__titl {
    font-size: 4rem;
  }

  .order__body {
    padding-bottom: 5rem;
  }

  .body__text {
    font-size: 2.25rem;
  }

  .categories__titl {
    font-size: 3.4375rem;
  }

  .item__body-titl {
    margin-top: -6.875rem;
  }

  .item__body-titl {
    font-size: 1.5rem;
  }

  .item__body-titl {
    padding-bottom: 0.875rem;
  }

  .item__body-text {
    font-size: 1.25rem;
  }

  .outlet__titl {
    font-size: 3.4375rem;
  }

  .getstarted__container {
    padding-top: 6.75rem;
  }

  .getstarted__container {
    padding-bottom: 5.9375rem;
  }

  .body-getstarted__titl {
    font-size: 3.4375rem;
  }

  .info-body__titl {
    font-size: 1.5625rem;
  }

  .info-body__titl:not(last-child) {
    margin-bottom: 1rem;
  }

  .info-body__text {
    font-size: 1.0625rem;
  }

  .info-body:not(last-child) {
    margin-bottom: 2.5rem;
  }

  .items-getstarted__img:not(last-child) {
    margin-bottom: 1.25rem;
  }

  .bestteam__titl:not(last-child) {
    margin-bottom: 6.875rem;
  }

  .body-bestteam__img:not(last-child) {
    margin-bottom: 2.3125rem;
  }

  .body-bestteam__name:not(last-child) {
    margin-bottom: 0.625rem;
  }

  .discount__container {
    padding-top: 4.0625rem;
  }

  .discount__container {
    padding-bottom: 8.4375rem;
  }

  .body-discount__titl:not(last-child) {
    margin-bottom: 2rem;
  }

  .body-discount__text:not(last-child) {
    margin-bottom: 4.5625rem;
  }

  .info__container {
    margin-top: 4.6875rem;
  }

  .info__container {
    margin-bottom: 4.6875rem;
  }
}

@media (max-width: 1024px) {
  .no-webp .page__order{
    background: url("../img/mask/mask.jpg") 100% 100% no-repeat; }
}

@media (max-width: 600px) {
  .body-delivery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20;
  }

  .body-delivery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-bottom: 2px solid #FFF;
    padding-bottom: 0.9375rem;
  }

  .body-outlet {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20;
  }

  .body-outlet__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-bottom: 2px solid #FC0;
    padding-bottom: 0.9375rem;
  }
}

@media (max-width: 570px) {
  .foot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    gap: 10px;
  }

  .foot__text1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-weight: 600;
  }

  .foot__text2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-weight: 600;
  }
}

@media (max-width: 20em) {
  .logo {
    margin-right: 0.625rem;
  }

  .menu__item {
    margin-right: 0.625rem;
  }

  .button__heder {
    margin-left: 0.5rem;
  }

  .footer__container {
    margin-top: 1.875rem;
  }

  .footer__container {
    margin-bottom: 1.25rem;
  }

  .footer__column {
    margin-bottom: 2.5rem;
  }

  .columone__logo {
    font-size: 1rem;
  }

  .columone__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .columone__text:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .columntwo__titl {
    font-size: 1rem;
  }

  .columntwo__titl:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .columnthre__titl {
    font-size: 1rem;
  }

  .columnthre__titl:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .columnfour__titl {
    font-size: 1rem;
  }

  .columnfour__titl:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .columnfour__link {
    font-size: 0.875rem;
  }

  .order__container {
    padding-top: 5rem;
  }

  .order__container {
    padding-bottom: 5rem;
  }

  .order__titl {
    font-size: 1.875rem;
  }

  .order__body {
    padding-bottom: 1.25rem;
  }

  .body__text {
    font-size: 1.25rem;
  }

  .categories__titl {
    font-size: 2.1875rem;
  }

  .item__body-titl {
    margin-top: -1.875rem;
  }

  .item__body-titl {
    font-size: 1.375rem;
  }

  .item__body-titl {
    padding-bottom: 0.5rem;
  }

  .item__body-text {
    font-size: 1.125rem;
  }

  .outlet__titl {
    font-size: 2.1875rem;
  }

  .getstarted__container {
    padding-top: 3.125rem;
  }

  .getstarted__container {
    padding-bottom: 1.875rem;
  }

  .body-getstarted__titl {
    font-size: 2.1875rem;
  }

  .info-body__titl {
    font-size: 1.125rem;
  }

  .info-body__titl:not(last-child) {
    margin-bottom: 0.5rem;
  }

  .info-body__text {
    font-size: 0.875rem;
  }

  .info-body:not(last-child) {
    margin-bottom: 1.25rem;
  }

  .items-getstarted__img:not(last-child) {
    margin-bottom: 0.625rem;
  }

  .bestteam__titl:not(last-child) {
    margin-bottom: 3.125rem;
  }

  .body-bestteam__img:not(last-child) {
    margin-bottom: 0.9375rem;
  }

  .body-bestteam__name:not(last-child) {
    margin-bottom: 0.3125rem;
  }

  .discount__container {
    padding-top: 1.875rem;
  }

  .discount__container {
    padding-bottom: 2.5rem;
  }

  .body-discount__titl:not(last-child) {
    margin-bottom: 0.9375rem;
  }

  .body-discount__text:not(last-child) {
    margin-bottom: 2.1875rem;
  }

  .info__container {
    margin-top: 1.875rem;
  }

  .info__container {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 66.875em) {
  .getstarted__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .getstarted__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .getstarted__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .body-getstarted__titl::after {
    width: 100%;
  }
}

@media (max-width: 61.99875em) {
  .btn {
    padding: 0.625rem 1.25rem;
  }

  .footer__column {
    gap: 10;
  }

  .body-delivery {
    gap: 15px;
  }
}

@media (max-width: 56.25em) {
  .footer__column {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }

  .footer__columntwo {
    text-align: right;
  }

  .footer__columnfour {
    text-align: right;
  }
}

@media (max-width: 56.875em) {
  .body-bestteam__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-bestteam__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 5rem;
  }

  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu__body {
    display: none;
  }

  .button__heder {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu-open .menu__body {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
    text-align: center;
    gap: 30px;
  }

  .menu-open .menu__body .button__heder {
    margin: 0;
  }

  .menu-open .menu__body .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .menu-open .menu__body .menu__list .menu__item {
    margin: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff7f7;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .order__container {
    text-align: center;
  }

  .order__body {
    max-width: 100%;
    gap: 10px;
  }

  .order__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body__categories-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }

  .body__categories-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }

  .item__body-img img {
    width: 70%;
  }

  .items-getstarted {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page__discount {
    background-color: rgb(255, 204, 0);
  }

  .discount__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .discount__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .discount__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .dovload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .item__body-titl {
    margin-top: -3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__columntwo {
    text-align: center;
  }

  .footer__columnfour {
    text-align: center;
  }

  .columone__icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.25rem;
    gap: 40px;
  }

  .columntwo__titl:not(:last-child) {
    margin: 0;
    cursor: pointer;
  }

  .columnthre__titl:not(:last-child) {
    margin: 0;
    cursor: pointer;
  }

  .columnfour__titl:not(:last-child) {
    margin: 0;
    cursor: pointer;
  }

  .order__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body__categories-items {
    gap: 0;
  }

  .body__categories-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .item__body-img img {
    height: 30%;
    width: 50%;
  }

  .body-bestteam__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    border-bottom: 1px solid black;
    padding-bottom: 0.1875rem;
  }

  .info__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem )) {
    .logo {
      margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem )) {
    .logo {
      margin-right: calc(0.625rem + 2.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem )) {
    .menu__item {
      margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.1222527473rem  +  3.7362637363vw , 2.75rem )) {
    .menu__item {
      margin-right: calc(0.625rem + 2.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-left: clamp( 0.5rem , -0.510989011rem  +  5.0549450549vw , 3.375rem )) {
    .button__heder {
      margin-left: clamp( 0.5rem , -0.510989011rem  +  5.0549450549vw , 3.375rem );
    }
}

@supports not (margin-left: clamp( 0.5rem , -0.510989011rem  +  5.0549450549vw , 3.375rem )) {
    .button__heder {
      margin-left: calc(0.5rem + 2.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
    .footer__container {
      margin-top: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem )) {
    .footer__container {
      margin-top: calc(1.875rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem )) {
    .footer__container {
      margin-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7445054945rem  +  2.5274725275vw , 2.6875rem )) {
    .footer__container {
      margin-bottom: calc(1.25rem + 1.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem )) {
    .footer__column {
      margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -1.0164835165rem  +  17.5824175824vw , 12.5rem )) {
    .footer__column {
      margin-bottom: calc(2.5rem + 10 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columone__logo {
      font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columone__logo {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columone__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columone__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.6105769231rem  +  4.6153846154vw , 2.9375rem )) {
    .columone__text:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.6105769231rem  +  4.6153846154vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.6105769231rem  +  4.6153846154vw , 2.9375rem )) {
    .columone__text:not(:last-child) {
      margin-bottom: calc(0.3125rem + 2.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columntwo__titl {
      font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columntwo__titl {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columntwo__titl:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columntwo__titl:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columnthre__titl {
      font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columnthre__titl {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columnthre__titl:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columnthre__titl:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columnfour__titl {
      font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
    .columnfour__titl {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columnfour__titl:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6565934066rem  +  2.967032967vw , 2.9375rem )) {
    .columnfour__titl:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .columnfour__link {
      font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .columnfour__link {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 5rem , 3.4615384615rem  +  7.6923076923vw , 9.375rem )) {
    .order__container {
      padding-top: clamp( 5rem , 3.4615384615rem  +  7.6923076923vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.4615384615rem  +  7.6923076923vw , 9.375rem )) {
    .order__container {
      padding-top: calc(5rem + 4.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 2.4725274725rem  +  12.6373626374vw , 12.1875rem )) {
    .order__container {
      padding-bottom: clamp( 5rem , 2.4725274725rem  +  12.6373626374vw , 12.1875rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 2.4725274725rem  +  12.6373626374vw , 12.1875rem )) {
    .order__container {
      padding-bottom: calc(5rem + 7.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.1277472527rem  +  3.7362637363vw , 4rem )) {
    .order__titl {
      font-size: clamp( 1.875rem , 1.1277472527rem  +  3.7362637363vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1277472527rem  +  3.7362637363vw , 4rem )) {
    .order__titl {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
    .order__body {
      padding-bottom: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
    .order__body {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
    .body__text {
      font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
    .body__text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .categories__titl {
      font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .categories__titl {
      font-size: calc(2.1875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( -6.875rem , -0.1167582418rem  +  -8.7912087912vw , -1.875rem )) {
    .item__body-titl {
      margin-top: clamp( -6.875rem , -0.1167582418rem  +  -8.7912087912vw , -1.875rem );
    }
}

@supports not (margin-top: clamp( -6.875rem , -0.1167582418rem  +  -8.7912087912vw , -1.875rem )) {
    .item__body-titl {
      margin-top: calc(-1.875rem + -5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem )) {
    .item__body-titl {
      font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.331043956rem  +  0.2197802198vw , 1.5rem )) {
    .item__body-titl {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3681318681rem  +  0.6593406593vw , 0.875rem )) {
    .item__body-titl {
      padding-bottom: clamp( 0.5rem , 0.3681318681rem  +  0.6593406593vw , 0.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3681318681rem  +  0.6593406593vw , 0.875rem )) {
    .item__body-titl {
      padding-bottom: calc(0.5rem + 0.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
    .item__body-text {
      font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
    .item__body-text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .outlet__titl {
      font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .outlet__titl {
      font-size: calc(2.1875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem )) {
    .getstarted__container {
      padding-top: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8502747253rem  +  6.3736263736vw , 6.75rem )) {
    .getstarted__container {
      padding-top: calc(3.125rem + 3.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.9375rem )) {
    .getstarted__container {
      padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.9375rem )) {
    .getstarted__container {
      padding-bottom: calc(1.875rem + 4.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .body-getstarted__titl {
      font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.7479395604rem  +  2.1978021978vw , 3.4375rem )) {
    .body-getstarted__titl {
      font-size: calc(2.1875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9711538462rem  +  0.7692307692vw , 1.5625rem )) {
    .info-body__titl {
      font-size: clamp( 1.125rem , 0.9711538462rem  +  0.7692307692vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9711538462rem  +  0.7692307692vw , 1.5625rem )) {
    .info-body__titl {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.3241758242rem  +  0.8791208791vw , 1rem )) {
    .info-body__titl:not(last-child) {
      margin-bottom: clamp( 0.5rem , 0.3241758242rem  +  0.8791208791vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.3241758242rem  +  0.8791208791vw , 1rem )) {
    .info-body__titl:not(last-child) {
      margin-bottom: calc(0.5rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .info-body__text {
      font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8090659341rem  +  0.3296703297vw , 1.0625rem )) {
    .info-body__text {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .info-body:not(last-child) {
      margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .info-body:not(last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .items-getstarted__img:not(last-child) {
      margin-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .items-getstarted__img:not(last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem )) {
    .bestteam__titl:not(last-child) {
      margin-bottom: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem )) {
    .bestteam__titl:not(last-child) {
      margin-bottom: calc(3.125rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem )) {
    .body-bestteam__img:not(last-child) {
      margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem )) {
    .body-bestteam__img:not(last-child) {
      margin-bottom: calc(0.9375rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.2026098901rem  +  0.5494505495vw , 0.625rem )) {
    .body-bestteam__name:not(last-child) {
      margin-bottom: clamp( 0.3125rem , 0.2026098901rem  +  0.5494505495vw , 0.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.2026098901rem  +  0.5494505495vw , 0.625rem )) {
    .body-bestteam__name:not(last-child) {
      margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .discount__container {
      padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.0625rem )) {
    .discount__container {
      padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4120879121rem  +  10.4395604396vw , 8.4375rem )) {
    .discount__container {
      padding-bottom: clamp( 2.5rem , 0.4120879121rem  +  10.4395604396vw , 8.4375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4120879121rem  +  10.4395604396vw , 8.4375rem )) {
    .discount__container {
      padding-bottom: calc(2.5rem + 5.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
    .body-discount__titl:not(last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5638736264rem  +  1.8681318681vw , 2rem )) {
    .body-discount__titl:not(last-child) {
      margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.3523351648rem  +  4.1758241758vw , 4.5625rem )) {
    .body-discount__text:not(last-child) {
      margin-bottom: clamp( 2.1875rem , 1.3523351648rem  +  4.1758241758vw , 4.5625rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.3523351648rem  +  4.1758241758vw , 4.5625rem )) {
    .body-discount__text:not(last-child) {
      margin-bottom: calc(2.1875rem + 2.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .info__container {
      margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .info__container {
      margin-top: calc(1.875rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .info__container {
      margin-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.885989011rem  +  4.9450549451vw , 4.6875rem )) {
    .info__container {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .item__body-titl {
    margin-top: -8.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-top: clamp( -8.125rem , -1.3667582418rem  +  -8.7912087912vw , -3.125rem )) {
    .item__body-titl {
      margin-top: clamp( -8.125rem , -1.3667582418rem  +  -8.7912087912vw , -3.125rem );
    }
}

@supports not (margin-top: clamp( -8.125rem , -1.3667582418rem  +  -8.7912087912vw , -3.125rem )) {
    .item__body-titl {
      margin-top: calc(-3.125rem + -5 * (100vw - 20rem) / 56.875);
    }
}
}

.webp .page__order{ background: url(../img/mask/mask.webp) 100% 100%/100% no-repeat; }

@media (max-width: 1024px){
  .webp .page__order{ background: url(../img/mask/mask.webp) 100% 100% no-repeat; }
}